{% extends "layout.html" %}

{% block title %}
    Deposit cash
{% endblock %}

{% block main %}
    <form action="/deposit_cash" method="post">
        <div class="mb-3">
            <label style="padding-bottom: 20px;" for="deposit_cash">We only take between 1000 and 5000 dollar each time</label>
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="deposit_cash" name="deposit_cash" placeholder="Deposit cash" type="number" min="1000" max="5000">
        </div>
        <button class="btn btn-primary" type="submit">Deposit cash</button>
    </form>
{% endblock %}
