{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
        <div class="mb-3">
            <table>
                <thead>
                    <tr>
                        <th>Grand total</th>
                        <th>Cash</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ grand_total | usd }}</td>
                        <td>{{ cash | usd }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="mb-3">
            <table>
                <thead>
                    <tr>
                        <th>Symbol</th>
                        <th>Shares</th>
                        <th>Price</th>
                        <th>Stock's total</th>
                    </tr>
                </thead>
                <tbody>
                {% for stock in stocks %}
                <tr>
                    <td>{{ stock["symbol"] }}</td>
                    <td>{{ stock["shares"] }}</td>
                    <td>{{ stock["price"] }}</td>
                    <td>{{ stock["stock's total"] | usd }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
{% endblock %}
