{% extends "layout.html" %}

{% block title %}
    Quoted
{% endblock %}

{% block main %}
        <div class="mb-3">
            <table>
                <thead>
                    <tr>
                        <th>Symbol</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ stock["symbol"] }}</td>
                        <td>{{ stock["price"] | usd}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
{% endblock %}
